apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2                               ## no. of pods needed
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app-container
        image: flask-app:latest
        imagePullPolicy: IfNotPresent       ## First check for the image inside the cluster only
        ports:
          - containerPort: 9000             # Replace with the port your app listens on
        envFrom:
          - secretRef: 
              name: flask-app-secret

---
apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
spec:
  type: LoadBalancer
  selector:
    app: flask-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 9000